<div id="controls" class="container">
	<div class="btn-group" role="group">
		<button data-command="stepback" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-step-backward"></span></button>
		<button data-command="backward" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-backward"></span></button>
		<button data-command="playpause" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-play"></span></button>
		<button data-command="forward" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-forward"></span></button>
		<button data-command="stepforward" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-step-forward"></span></button>
	</div>

	<div class="btn-group" role="group">
		<button data-command="prev" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-chevron-left"></span></button>
		<button data-command="next" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-chevron-right"></span></button>
	</div>

	<div class="btn-group" role="group">
		<button data-command="fullscreen" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-fullscreen"></span></button>
		<button data-command="subtitle" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-font"></span></button>
		<button data-command="screenshot" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-camera"></span></button>
		<button data-command="info" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-info-sign"></span></button>
		<button data-command="ontop" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-eye-open"></span></button>
	</div>
</div>